name: Frontend Build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install frontend dependencies
        working-directory: client/app
        run: npm install

      - name: Build frontend
        working-directory: client/app
        run: npm run build